{% extends "_emails/security/base.html.twig" %}

{% block content %}
    <!--begin:Text-->
    <div style="font-size: 14px; font-weight: 500; margin-bottom: 27px; font-family:Arial,Helvetica,sans-serif;">
        <p style="margin-bottom:9px; color:#181C32; font-size: 22px; font-weight:700">Bonjour {{ user.firstname }},</p>
        <p style="margin-bottom:2px; color:#7E8299; font-size: 18px; font-weight:500">Des soucis pour se connecter ?</p>
        <p style="margin-bottom:2px; color:#7E8299">Pas d'inquiétude, réinitialiser son mot de passe est rapide et facile.</p>
        <p style="margin-bottom:2px; color:#7E8299">Il suffit de cliquer sur le bouton ci-dessous et de suivre les instructions. Vous serez opérationnel en un rien de temps.</p>
        <p style="margin-bottom:2px; color:#7E8299">Veuillez garder à l'esprit que le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'fr') }}.</p>
        <a href="{{ url('reset_password_reset', {token: resetToken.token}) }}" target="_blank" style="background-color:#50cd89; border-radius:6px;display:inline-block; margin: 15px 0; padding:11px 19px; color: #FFFFFF; font-size: 14px; font-weight:500; font-family:Arial,Helvetica,sans-serif;">Changer mon mot de passe</a>
        <p style="margin-bottom:2px; color:#7E8299">Si vous n'avez pas fait cette demande, vous pouvez ignorer cet e-mail.</p>
    </div>
{% endblock %}