<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
    <a href="{{ path('app_home') }}" class="d-lg-none">
        <img alt="Logo" src="{{ asset('metronic/assets/media/logos/default-small.svg') }}" class="h-30px" />
    </a>
</div>