<div id="kt_app_footer" class="app-footer">
    <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
        <div>
            <p class="m-0">
                Made with <i class="fas fa-heart text-danger fs-4 align-self-center mx-1"></i> by <a href="https://keole.net" class="text-dark" target="_blank">Keole.net</a>
            </p>
        </div>
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2023&copy;</span>
            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">{{ app_name }}</a>
        </div>
    </div>
    <!--end::Footer container-->
</div>