<tr>
    <td align="center" valign="center" style="font-size: 13px; padding:0 15px; text-align:center; font-weight: 500; color: #A1A5B7;font-family:Arial,Helvetica,sans-serif">
        <p>L'équipe <a href="{{ url('app_home') }}" rel="noopener" target="_blank" style="font-weight: 600;font-family:Arial,Helvetica,sans-serif">{{ app_name }}</a></p>
    </td>
</tr>