<div style="margin-bottom: 10px">
    <a href="{{ url('app_home') }}" rel="noopener" target="_blank">
        <img alt="{{ app_name }}" src="{{ absolute_url(asset('img/logo.png')) }}" style="height: 35px" />
    </a>
</div>